# Class

In [4]:
class Car:
    wheels=4
    door=2
    name='audi'
    engine_size='1.5 lr'
    color='Black'

In [5]:
c=Car()

In [7]:
print("Wheels",c.wheels)
print("Door",c.door)
print("Name",c.name)
print("Engine Size",c.engine_size)
print("Color",c.color)

Wheels 4
Door 2
Name audi
Engine Size 1.5 lr
Color Black

In [11]:
c.door=4

In [12]:
c.door

4

In [15]:
help(Car)

Help on class Car in module __main__:

class Car(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  color = 'Black'
 |
 |  door = 2
 |
 |  engine_size = '1.5 lr'
 |
 |  name = 'audi'
 |
 |  wheels = 4

# Instance

In [38]:
class Room:
    door=2
    window=4
    walls=4
    fan=3
    length=20
    breath=30

    def show_details(self):
        print("Door",self.door)
        print("Window",self.window)
        print("Walls",self.walls)
        print("Fans",self.fan)
        print("Length",self.length)
        print("Breath",self.breath)
        
    def area(self):
        return self.length*self.breath

In [39]:
r1=Room()

In [40]:
r1.show_details()

Door 2
Window 4
Walls 4
Fans 3
Length 20
Breath 30

In [41]:
r1.area()

600

In [42]:
class College:
    teacher=200
    student=1500
    room=60
    building=10
    average_salary=3000
    average_fee=2500

    def toatal_income(self):
        return self.avgerage_fee*self.student

    def total_exp(self):
        return self.teacher*self.average_salary

In [43]:
collage_object=College()

In [44]:
collage_object.total_exp()

600000

In [45]:
class Circle:
    r=4
    pi=22/7

    def area_circle(self):
        return self.pi*self.r**2

    def cir_circle(self):
        return 2*self.pi*self.r

In [47]:
c=Circle()

In [48]:
c.area_circle()

50.285714285714285

In [49]:
c.r=2
c.area_circle()

12.571428571428571

# Instance Variables

In [51]:
class Student:
    def details(self,name,age,id,subject):
        self.name=name
        self.age=age
        self.id=id
        self.subject=subject

    def show_details(self):
        print(self.name)
        print(self.age)
        print(self.id)
        print(self.subject)

In [54]:
s1=Student()

In [55]:
s1.details('Aniket Manhas',21,'2022a1r148','Python')

In [56]:
s1.show_details()

Aniket Manhas
21
2022a1r148
Python

In [57]:
class St:
    name='Sam'
    age=21
    id='Nil'
    subject='English'

    def details(self,name,age,id,subject):
        self.name=name
        self.age=age
        self.id=id
        self.subject=subject

    def show_details(self):
        print(self.name)
        print(self.age)
        print(self.id)
        print(self.subject)

In [58]:
s2=St()

In [59]:
s2.show_details()

Sam
21
Nil
English

### Question

create a class name it marksheet
where u have to add 4 studnet's name
and create 3 instances
1. min_score
2. max_score
3. avg_score

In [76]:
class Marksheet:
    student_marks=[101,203,333,199]

    def min_score(self):
        return min(self.student_marks)
    
    def max_score(self):
        return max(self.student_marks)

    def avg_score(self):
        sum=0
        length=4
        for i in self.student_marks:
            sum+=i

        return sum/length

In [77]:
m1=Marksheet()

In [78]:
m1.min_score()

101

In [79]:
m1.max_score()

333

In [80]:
m1.avg_score()

209.0

Write a program to reverse each kth row in matrix

In [94]:
m=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]

In [90]:
n=int(input())
m[n]= m[n].reverse()

 2

In [91]:
m

[[1, 2, 3], [4, 5, 6], None, [10, 11, 12]]

In [95]:
m[n].reverse()