In [13]:
#1 Create a Python function to check if a given string is a palindrome
def pal(s):
    c=s
    for i in range(0,len(s),1):
        if s[i] == c[len(s)-1-i]:
            continue
        else:
            print('not')
            return
    print('yes')
    return

s=input('Enter a string : ')
pal(s)

Enter a string :  hih

yes

In [ ]:
#2 calculate the compund interest for a given principal amount , interest rate, and time period

In [8]:
#3 write a program that converts a given number of days into years , weeks , and days

Enter the number of days:  1000

1000 days is approximately 2 year(s), 38 week(s), and 4 day(s).

In [21]:
#4 create a program that takes a sentence as input and counts the number of words in it

def count(sen):
    l=sen.split()
    return len(l)

sen=input("Enter a sentence : ")
count(sen)

Enter a sentence :  hello everyone my self aniket

5

In [23]:
#5 create a function to reverse a given string
def rev(s):
    return s[::-1]

s=input("Enter a string : ")
rev(s)

Enter a string :  hello everyone

'enoyreve olleh'

In [ ]:
#6 implement a program that converts a given number of minutes into hours and minutes

In [11]:
#6

def convert_minutes(total_minutes):
    
    hours = total_minutes // 60
   
    minutes = total_minutes % 60
    return hours, minutes


total_minutes = int(input("Enter the number of minutes: "))


hours, minutes = convert_minutes(total_minutes)


print(f"{total_minutes} minutes is equal to {hours} hours and {minutes} minutes.")

Enter the number of minutes:  789

789 minutes is equal to 13 hours and 9 minutes.

In [26]:
#7 create a python function to find the sum of all even numbers in the list
def sum(l):
    res=0
    for i in l:
        if i%2==0:
            res+=i
    return res

l=[3,2,5,3,2]
sum(l)

4

In [28]:
#8 create a python function to find the sum of all odd numbers in the list
def sum(l):
    res=0
    for i in l:
        if i%2 !=0:
            res+=i
    return res

l=[3,2,5,3,2]
sum(l)

11

In [29]:
#9 given a list of numbers, create a function to find the sum of all postitive numbers
def sum(l):
    res=0
    for i in l:
        if i>=0:
            res+=i
    return res

l=[3,2,5,3,2]
sum(l)

15

# lambda

In [ ]:
lmbda agr1,agr2......:calculation

In [15]:
# add function
f=lambda x,y:x+y

In [16]:
f(8,9)

17

In [20]:
# squa
sq = lambda x:x**2

In [21]:
sq(8)

64

In [30]:
# area of circle 
area = lambda r,pie:pie*r*r

In [23]:
area(4,3.14)

50.24

In [24]:
# find the leap year
leap = lambda x: x%400==0 and x%100!=0 or x%4==0

In [25]:
leap(2001)

False

In [26]:
# even and odd
even = lambda x: x%2==0 and x%2!=0

In [28]:
even(5)

False

In [31]:
sql = lambda x : [i**2 for i in x]

In [32]:
sql([2,3,4,5])

[4, 9, 16, 25]

# fuctional documentataion

In [31]:
def add(x,y):
    "this function is used to ad two variable"
    return x+y

In [32]:
?add

Signature: add(x, y)
Docstring: <no docstring>
File:      c:\users\adity\appdata\local\temp\ipykernel_7132\263730053.py
Type:      function

In [33]:
def total(*a):
    return a

In [34]:
total(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [39]:
def total(*a):
    t = 0
    for i in a:
        t+=i
    return t

In [40]:
total(1,2,3,4,5)

15

In [42]:
def kk(*k):
    return k

In [43]:
kk([1,2,3,4],[7,8,9],[10])

([1, 2, 3, 4], [7, 8, 9], [10])

In [44]:
f = ([1,2,3,4],[7,8,9],[10])

In [46]:
g = 0
for i in f:
    for j in i:
        g=g+j
print(g)

44