In [1]:
class A:
    def show(self):
        print("Class A")

In [2]:
class B(A):
    def show(self):
        super().show()
        print("class B")

In [3]:
b=B()

In [4]:
b.show()

Class A
class B

### 7 create a database using list and tuple

In [1]:
data=[
    (1,"rohan nanda",22,"Mathd"),
    (2,"rashmi singh",23,"Science"),
    (3,"sumit sharma",22,"Hindi")
]

In [2]:
def display(data):
    print("ID | NAME         | AGE | SUBJECT")
    for i in range(len(data)):
        print(f"{data[i][0]:<3}| {data[i][1]:<12} | {data[i][2]:<4}| {data[i][3]}")

In [3]:
display(data)

ID | NAME         | AGE | SUBJECT
1  | rohan nanda  | 22  | Mathd
2  | rashmi singh | 23  | Science
3  | sumit sharma | 22  | Hindi

In [4]:
def add(data,id,name,age,subject):
    data.append((id,name,age,subject))

In [5]:
add(data,4,"Aditya",20,"Python")

In [6]:
display(data)

ID | NAME         | AGE | SUBJECT
1  | rohan nanda  | 22  | Mathd
2  | rashmi singh | 23  | Science
3  | sumit sharma | 22  | Hindi
4  | Aditya       | 20  | Python

In [7]:
def delete(data,id):
    data.pop(id-1)

In [8]:
delete(data,2)

In [9]:
display(data)

ID | NAME         | AGE | SUBJECT
1  | rohan nanda  | 22  | Mathd
3  | sumit sharma | 22  | Hindi
4  | Aditya       | 20  | Python

### File Handling

In [21]:
file=open("inline_block","w")
file.write("1 today we are learning file handling\n")
file.close()

In [22]:
file=open("inline_block","r")
print(file.read())
file.close()

1 today we are learning file handling

In [27]:
file=open("inline_block","a")
file.write("hello this being appended in the file\n")
file.close()

In [28]:
file=open("inline_block","r")
print(file.read())
file.close()

1 today we are learning file handling
hello this being appended in the file
hello this being appended in the file
hello this being appended in the file

In [30]:
file=open("inline_block","r")
print(file.readlines()[2])
file.close()

hello this being appended in the file