In [5]:
145+9

154

In [5]:
print("sum of 2 numbers is like 5 and 6 is",5+6)

sum of 2 numbers is like 5 and 6 is 11

In [6]:
print("sum of {} and {} is {}". format(4,8,8+4))

sum of 4 and 8 is 12

square root

In [11]:
2**3

8

In [12]:
8**1/3

2.6666666666666665

In [14]:
print("square root of {} is {}". format(45,45**(.5)))

square root of 45 is 6.708203932499369

In [15]:
print("square root  of {} is {}". format(45, round(45**(1/2),4)))

square root  of 45 is 6.7082

In [20]:
print(" cube of {}  is {}".format(45,round(45**(1/3),3)))

 cube of 45  is 3.557

In [32]:
print("{} days , {} hours and {} min".format((155689//60)//24,155689//60,155689%60))

108 days , 2594 hours and 49 min

In [22]:
62%60

2

In [23]:
60//60

1

In [28]:
print("{} days and {} hours".format(2594//24,2594%24))

108 days and 2 hours

In [34]:
print("{} days {} hours and {} min".format((7325//60)//24,(7325//60)%24,7325%60))

5 days 2 hours and 5 min

In [67]:
print("{} days {} hours {} min {} sec ".format((1457986//60)//24//60,(1457986//60)//60%24,(1457986//60)%60,(1457986%60)))

16 days 20 hours 59 min 46 sec

In [1]:
print("{} days, {} hrs, {} mins and {} sec".format((4785693//60)//60//24, (4785693//60)//60%24,(4785693//60)%60,(4785693%60)))

55 days, 9 hrs, 21 mins and 33 sec

In [2]:
print("{} days, {} hrs, {} mins and {} sec".format((2578963//60)//60//24, (2578963//60)//60%24,(2578963//60)%60,(2578963%60)))

29 days, 20 hrs, 22 mins and 43 sec

In [3]:
print("{} days, {} hrs and {} mins".format((2589630//60)//60//24, (2589630//60)//60%24,(2589630//60)%60))

29 days, 23 hrs and 20 mins

In [4]:
print("{} days, {} hrs and {} mins".format((12403500//60)//60//24, (12403500//60)//60%24,(12403500//60)%60))

143 days, 13 hrs and 25 mins

# Variables

In [ ]:
1.there is a logical length for variable name
2. name must be starts with _ or text
3. there is no spaces in the variable name
4.not allow to use reserved keywords

# Comparison Operators

In [ ]:
> # greater than
< # less than
>= # more than equals to
<= # less than equals to
== # equals to
!= # not equals to

# Data Types

In [ ]:
int  # it will read only whole numbers
float # it will read both whole and decimal numbers
str # whatever we mention in '' , " ",""" """ called string
bool # true (1) and false(0)

In [3]:
q=5
type(q)

int

In [4]:
w=2.5
type(w)

float

In [5]:
e="2"
type(e)

str

In [9]:
t=True 
type(t)

bool

In [10]:
a="123"
type(a)

str

In [11]:
float(a)

123.0

In [12]:
str(a)

'123'

# String

In [1]:
"hello my name is aditya and this is aditya's phone"

"hello my name is aditya and this is aditya's phone"

In [2]:
st="hello potter meat at the shop or mail me on python@gmail.com at 9: 00 PM"

In [19]:
len(st)
st.upper()
st.lower()
st.capitalize()
st.title()
st.removeprefix()
st.removesuffix()
st.split()

TypeError: str.removeprefix() takes exactly one argument (0 given)

In [25]:
st.find('at')

15

In [17]:
len(st)

72

In [18]:
st.upper()

'HELLO POTTER MEAT AT THE SHOP OR MAIL ME ON PYTHON@GMAIL.COM AT 9: 00 PM'

In [19]:
st.lower()

'hello potter meat at the shop or mail me on python@gmail.com at 9: 00 pm'

In [21]:
st.capitalize()

'Hello potter meat at the shop or mail me on python@gmail.com at 9: 00 pm'

In [22]:
st.title()

'Hello Potter Meat At The Shop Or Mail Me On Python@Gmail.Com At 9: 00 Pm'

# Python

In [ ]:
Python is a programming Lamguage that is widely used in web applications, software developement, data science , and machine learning(ML). Developers use
python because it is efficient and easy to learn and can run on many different platforms.

# Python rules

In [ ]:
1. You can't use one of python's key words as a variable name.
2. You can't have spaces in your variable name.
3. The first character of a variable must be a letter or an underscore.
4. Python is case sensitive X is different than X.

# String

In [ ]:
String is a data structure in Python Programming that represents a sequence of characters. It is an immutable data type, meaning that once you have
created a string, you cannot change it. Python string are used widely in many different applications, such as storing and manipulating text data,
representing names, addresses, and other types of data that can be represented as text.

# Numbers

In [ ]:
In Python, "Numbers" is a category that encompasses different types of numeric data. Python supports various types of numbers, including integers,
floating-point numbers, and complex numbers. Here's a brief overview of each:

# Condition  Statements

In [ ]:
1 if condition1:
2     print("statement 1")
3 elif condition2:
4      print("statement 2")
5 elif condition3:
6     print("statement 3")
7

In [ ]:
1 x = float(input("enter the number"))
2 if x%2==0:
3.

In [ ]:
1 # if x is more than 100 an odd calculate square
2 # if x is more than 100 and even calculate square root
3 # if x is less than 100 and odd calculate cube
4 # if x is less than 100 and even calculate cube root
5 # # else : print x is equals to 100

In [3]:
x = float(input(" enter the number"))
if x>100 and x%2!=0:
    print(x**2,"square of x cause it is odd and >100")

elif x>100 and x%2==0:
    print(x**(1/2),"Sqrt of x cause it is even < 100")

elif x<100 and x%2==0:
    print(x**(1/3),"cube of x cause it is < 100 and even")

elif x<100 and x%2!=0:
    print(x**3,"cube of x cause it is odd and < 100")

else:
    print(x,"equals to 100")

 enter the number 24

2.8844991406148166 cube of x cause it is < 100 and even

In [4]:
x = True
if type(x)==float:
    print(" x is float")
elif type(x)==int:
    print(" x is int")
elif type(x)==str:
    print(" x is string")
else:
    print(" x is bool")

 x is bool

# String

In [5]:
#check if the x starts with a
s = input("enter the string")
if s[0] == "a":
    print("string starts with a ")
else:
    print(" does not starts with a ")

enter the string amnaini

string starts with a

In [6]:
# check if the string ends with t
s = input("enetr the string")
if s[-1]=="t":
    print("ends with T")
else:
    print("does not ends with t")

enetr the string jansn

does not ends with t

In [ ]:
# check if string starts with a and ends with a 
# check if string starts with a and ends with r
# check if string does not starts with a and ends with a

In [10]:
s = input("enter the string")
if s[0] == "a" and s[-1] == "a":
    print("string starts with a and end with a")
elif s[0] == "a" and s[-1] == "r":
    print("string starts with a and end with r")
elif s[0] == "a" and s[-1]!="a":
    print("not starts and ends with a")
else:
    print("there is no condition")

enter the string b

there is no condition

In [ ]:
# check if the 1st letter is upper case or lower case

In [12]:
s[0]

'b'

In [13]:
s[0].upper()

'B'

In [14]:
s = input("enter the string")
if s[0]==s[0].upper():
    print("uppercase")
else:
    print("lowercase")

enter the string helo\

lowercase

In [17]:
s = input("enter the string")
if s[0].isupper():
    print("uppercase")
else:
    print("lowercase")

enter the string F

uppercase

In [18]:
# check if the lengths of string is more than 6 or not

In [19]:
f = input("string")
if len(f)>6:
    print("length of string is more than 6")
else:
    print("less than 6")

string Hello

less than 6

In [ ]:
# check if the count of spaces is more than 5 or not

In [20]:
f = input("string")
if len(f)>5:
    print("count of spaces of string is more than 5")
else:
    print("less than 5")

string G h h

less than 5

# Nested IF

In [3]:
age = int(input("age "))
if age<18:
    print("teenager")
    if age<16:
        print("minor")
    if age<12:
        print("kid")

age  11

teenager
minor
kid

In [4]:
name = input("enter the name of the shape ")

enter the name of the shape  triangle

In [5]:
name.lower() == "triangle"

True

In [6]:
name

'triangle'

In [14]:
name = input("enter the name of the shape")
if name.lower() == "triangle":
    g = input("enter want u want in triangle ")
    if g.lower() == "area":
        print("area of triangle is ==> 1/2*b*h ")
    elif g.lower() == "parameter":
        print("parameter of triangle is A+B+C ")
elif name.lower()=="cube":
        g= input("enter what u want in cube ")
        if g.lower()=="area":
            print("area of cube is ==> side**3 ")
        elif g.lower()=="parameter":
            print("parameter of cube is 6a**2 ")

enter the name of the shape cube
enter what u want in cube  parameter

parameter of cube is 6a**2

# Loop

In [1]:
k=(1,2,3,4,5,6,7,8,9,10)

In [2]:
for i in k:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
i

10

In [4]:
# print those elements which is more than 3
k=[1,2,3,4,5,6,7,8,9]
for h in k:
    if h>3:
        print(h)

4
5
6
7
8
9

In [5]:
# print even elements from the list
k=[1,2,3,4,5,6,7,8,9]
for u in k:
    if u%2==0:
        print(u)

2
4
6
8

In [6]:
# print even elements from the list and calculate square
k=[1,2,3,4,5,6,7,8,9]
for i in k:
    if i%2==0:
        print("{} is the square of {}". format(i**2,i))

4 is the square of 2
16 is the square of 4
36 is the square of 6
64 is the square of 8

In [ ]:
# print those elements between 10 and 20
k=[1,10,11,12,13,14,15,16,17,18,19,20,21]

In [ ]:
l=[1,2,3,4,5,6]
# for variable in l:

In [3]:
l=[1,2,3,4,5,6]
for i in  l:
    print(i)

1
2
3
4
5
6

In [5]:
i

6

In [11]:
# extract those element which is more than 5
w=[1,4,7,8,9,6,3,4,2,5]
for j in w:
    if j>5:
        print(j)

7
8
9
6

In [7]:
g=["a","b","c","d","e",True]
for i in g:
    print(i)

a
b
c
d
e
True

In [12]:
# extract even elements fro the list
w =[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j%2==0:
        print(j)

4
8
6
2
4
6
2

In [13]:
#extract elements between 3 and 7
w =[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for h in w:
    if h>3 and h<7:
        print(h)

4
6
5
4
6
5

In [14]:
# calculate the square of even elements
w =[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for i in w:
    if i%2==0:
        print(i**2,"is the square of",i)

16 is the square of 4
64 is the square of 8
36 is the square of 6
4 is the square of 2
16 is the square of 4
36 is the square of 6
4 is the square of 2

In [16]:
# print those name starts with a 
name=["rohan","abhinaza","robin","karan","aman","pankaj","aastha"]
for h in name:
    if h[0]=="a":
        print(h)

abhinaza
aman
aastha

In [17]:
# print those name satrts with a
name=["rohan","abhinaza","robin","karan","aman","pankaj","aastha"]
for h in name:
    if h.startswith("a"):
        print(h)

abhinaza
aman
aastha

In [21]:
# print those names which starts with "a" and ends with "a"
name=["rohan","abhinaza","robin","karan","aman","pankaj","aastha"]
for h in name:
    if h.startswith("a") and h.endswith("a"):
        print(h)

abhinaza
aastha

In [23]:
# print 1st 4 letters of all names
name=["rohan","abhinaza","robin","karan","aman","pankaj","aastha"]
for h in name:
    print(h[:4])

roha
abhi
robi
kara
aman
pank
aast

In [26]:
# print all leap years
year = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for i in year:
    if i%4==0 and i%100!=0 or i%400==0:
        print(i)

2000
2004
2008

In [29]:
# print the 2nd highest element 
s=[4,7,8,5,2,3,6,9,6,5,6,3,2]
s.sort()
s[-2]

8

In [6]:
#print the 2nd highest element
s = [4,7,8,5,2,3,6,9,6,5,6,3,2,9,9,9,9,9]

In [8]:
s.sort()
s

[2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 7, 8, 9, 9, 9, 9, 9, 9]

In [7]:
s.sort()
index= -2
for i in s:
    if s[index]==max(s):
        index-=1
print(s[index])

8

In [10]:
s = [4,7,8,5,2,3,6,9,6,5,6,3,2,9,9,9,9,9]
s.sort()
second_element = 0
for i in s:
    if i>min(s) and i<max(s):
        second_element = i
    print(second_element)

0
0
3
3
4
5
5
6
6
6
7
8
8
8
8
8
8
8

In [11]:
s = "hello how are you i am fine what about you"
for i in s.split():
    print(i)

hello
how
are
you
i
am
fine
what
about
you

In [13]:
# count those words that starts with h
count=0
s = "hello how are you i am fine what about you"
for i in s.split():
    if i[0] =='h':
        count=count+1;
print(count)

2

# Range

In [ ]:
range(start,stop,step)

In [16]:
for i in range(2):
    print(i)

0
1

In [19]:
# print all even numbers between 10 and 50
for i in range(10,50,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [21]:
# print those digit where 1st one is 5 between 10 to 100
for i in range(10,100):
    if(i%10==5):
        print(i)

15
25
35
45
55
65
75
85
95

In [24]:
# print the table of 2
for i in range(1,11):
    print('2 *',i,'=',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [27]:
# create 2 list and add even and odd digit in both list between 10 and 50
even=[]
odd=[]
for i in range(10,50):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [28]:
for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [33]:
for i in range(4):
    print("*"*4)

****
****
****
****

In [3]:
for i in range(6,0,-1):
    print(i*" * ")

 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [4]:
for i in range(5):
    print("*")

*
*
*
*
*

In [5]:
for i in range(5):
    print("*", end=" ")

* * * * *

# Nested Loop

In [8]:
f = [1,2]
h = [9,10,11,12,13]
for i in f:
    for j in h:
        print(i * j)

9
10
11
12
13
18
20
22
24
26

In [9]:
g = [1,2,3,4,5,6]
for i in g:
    for j in g:
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [11]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [18]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and  j<=3+i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [24]:
for i in range(1,5):
    for j in range(1,8):
        if j>=i and  j<=8-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

# Practice Questions

In [ ]:
# create 2 list name then square and cube and add perfect square
# between 1 and 200 in square list same with cube

In [8]:

square_list = []
cube_list = []


for i in range(1, 201):
    
    if int(i**(1/2)) ** 2 == i:
        square_list.append(i)
    
   
    if int(i**(1/3)) ** 3 == i:
        cube_list.append(i)


print("Perfect Squares between 1 and 200:", square_list)
print("Perfect Cubes between 1 and 200:", cube_list)

Perfect Squares between 1 and 200: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
Perfect Cubes between 1 and 200: [1, 8, 27, 125]

In [ ]:
# print all names from the list with the no. of letters ex:- "archit" :6
l1 = ["Akanksha","archit","aryan","kanka","lomesh","tushar","vinit"]

In [5]:

l1 = ["Akanksha", "archit", "aryan", "kanka", "lomesh", "tushar", "vinit"]


for name in l1:
    print(f'"{name}" : {len(name)}')

"Akanksha" : 8
"archit" : 6
"aryan" : 5
"kanka" : 5
"lomesh" : 6
"tushar" : 6
"vinit" : 5

In [ ]:
# print the largest name from the list
names = ["Akanksha","archit","aryan","kanka","lomesh","tushar","vinit"]

In [3]:

names = ["Akanksha", "archit", "aryan", "kanka", "lomesh", "tushar", "vinit"]


largest_name = max(names, key=len)


print("The largest name is:", largest_name)

The largest name is: Akanksha

In [ ]:
# print the occurance of each word
st1 = """ what is sql and why is it important in data science and explain the difference between a database and a table"""

In [10]:

st1 = """ what is sql and why is it important in data science and explain the difference between a database and a table"""
words = set(st1.split())
for i in words:
    print(i,'=',st1.count(i))

it = 1
table = 1
data = 2
explain = 1
in = 2
a = 14
what = 1
why = 1
important = 1
between = 1
is = 2
sql = 1
and = 3
science = 1
difference = 1
database = 1
the = 1

In [ ]:
1 #  *      *
2 #   *   *   
3 #     *   
4 #   *   *
5 #  *      *
6 # create this star pattern

In [7]:

rows = 5


for i in range(1, rows + 1):
    if i == 1 or i == rows:
        
        print("*     *")
    elif i == 3:
       
        print("   *")
    else:
        
        print(" *   *")

*     *
 *   *
   *
 *   *
*     *

# break,pass,continue

In [ ]:
break # it will stop the loop whenever the condition is true
pass
continue # it skip the conition and continue the loop in the same order

In [3]:
for i in range(1,20):
    if i==11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for j in range(0,10):
    pass
    print(j)

0
1
2
3
4
5
6
7
8
9

In [6]:
n = int(input("enter the number"))
f = 1
while f<=10:
    print("{} X {} = {}".format(n,f,n*f))
    f+=1

enter the number 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [8]:
g = 1
while g<=20:
    if g%2==0:
        print(g)
    g=g+1

2
4
6
8
10
12
14
16
18
20

In [5]:
# print the no. in reverse order
f=47896
g=0
while f>0:
    g=g*10+f%10
    f = f//10
print(g)

69874

In [ ]:
#consider the string "welcome to python world". perform the following qperations

1 count the number of alphabets in the string

2 to extract charaters in the given, range from the string

3 check if the string is alphanumeric or not

In [7]:
d="welcome to python world"

In [8]:
len(d)

23

In [9]:
d[5:10]

'me to'

In [11]:
d.isalnum()

False

In [12]:
g=0
while g<=10:
    print(g)
    g=g+1

0
1
2
3
4
5
6
7
8
9
10

In [16]:
g=10
while g>0:
    print(g)
    g=g-1

10
9
8
7
6
5
4
3
2
1

In [17]:
e = 1
while e<=50:
    if e%2!=0:
        print(e)
    e=e + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [1]:
e = 1
h = []
while e<=20:
    if e%2!=0:
        h.append(e)
    e = e+1
print(h)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
# print the number in reverse order
e = 148
while e>0:
    r= e%10
    e=e//10
    print(r,end="")
print()

841

In [4]:
r = 124343565678678
count = 0
while r > 0:
    e = r%10
    r = r//10
    count = count + 1
print (count)

15

In [5]:
r = 14789
h = 0
while r>0:
    h = h*10+r%10
    r = r//10
print(h)

98741

In [6]:
h = h*10+r%10

In [9]:
# concat two list in a single list
def concat(a,b):
    return a+b

In [10]:
concat([1,2,3],[77,88])

[1, 2, 3, 77, 88]

In [11]:
a=[1]
b=[2,3,4]

In [12]:
concat(a,b)

[1, 2, 3, 4]

In [7]:
r=[1]
g=[4,5]

In [5]:
r

[1]

In [6]:
 r + g

[1, 4, 5]

In [24]:
# find the sum of list
b=[1,2,3,4,5]
total = 0
for i in b:
    total = total+i

In [27]:
def total_list(x):
    total = 0
    for i in x:
        total = total + i
    return total

In [20]:
i = 5

In [21]:
f = 0

In [22]:
f = f+i

In [23]:
f

5

In [29]:
# find the sum of list
b=[1,2,3,4,5,5,5]

In [34]:
 total_list(b)

25

In [35]:
# find the sum of all positive elements in the list
k=[1,4,5,8,-9,-6,-3,-10]

In [36]:

def psum(b):
    sum=0
    for i in b:
        if(i>0):
            sum=sum+i
    return sum
b=[1,4,5,8,-9,-6-3,-10]
psum(b)

18

In [37]:
# count the no. of positive elements 
f = [1,2,3,4,5,-6,-8,-9,-10]

In [38]:

def cou(b):
    c=0
    for i in b:
        if(i>0):
            c=c+1
    return c
b=[1,2,3,4,5,-6,-7,-8,-9,-10]
cou(b)

5

In [41]:
# print a greeting message using define function
name = ["aman","rohit"]
def greeting(x):
    for i in x:
        return("good morning",i)

In [42]:
greeting (name)

('good morning', 'aman')

In [43]:
# function to calculate the tax and income in hand using following points
def tax(income):
    if(income>=0 and income<250000):
        annual_income=income
    elif(income>=250000 and income<500000):
        annual_income=income-(income*(5/100))
    elif(income>=500000 and income<750000):
        annual_income=income-(income*(10/100))
    elif(income>=750000 and income<1000000):
        annual_income=income-(income*(15/100))
    elif(income>=1000000 and income<1250000):
        annual_income=income-(income*(20/100))
    elif(income>=1250000 and income<1500000):
        annual_income=income-(income*(25/100))
    elif(income>=1500000):
         annual_income=income-(income*(30/100))
    return annual_income
tax(1000000)

800000.0

In [ ]:
# circle : area = pie*r**2
#           Circumfrence = 2 pie * r
# traingle : area = (1/2)*b*h
#          perimeter = (a+b+c)
#cylinder : volume = pie * r**2*h
#          surface area = 2*pie*r(r+h)

In [16]:
def solid():
    x=str(input("enter the solid"))
    if(x=="circle"):
        r=("enter the radius")
        y=str(input("enter what you want to calculate"))
        if(y=="area"):
            print("area of circle is {}".format(3.14*(r**2)))
        elif(y=="perimeter"):
            prinr("perimeter of circle is {}".format(2*3.14*r))
    elif(x=="triangle"):
        y=str(input("enter what you want to calculate"))
        if(y=="area"):
            b=float(input("enter the base"))
            h=float(input("enter the height"))
            print("area of triangle is {}".format((1/2)*b*h))
        if(y=="perimeter"):
            a=float(input("enter the side1"))
            b=float(input("enter the side2"))
            c=float(input("enter the side3"))
            print("perimeter of triangle is {}".format(a+b+c))
    elif(x=="cylinder"):
        y=str(input("enter what you want to calculate"))
        if(y=="volume"):
            r=float(input("enter radius"))
            h=float(input("enter height"))
            print("the volume of cylinder is {}".format(3.14*(r**2)*h))
        elif(y=="surface area"):
            r=float(input("enter radius"))
            h=float(input("enter height"))
            print("the surface area {}".format(2*3.14*r*(r+h)))

In [19]:
solid()

enter the solid triangle
enter what you want to calculate area
enter the base 4
enter the height 5

area of triangle is 10.0

In [ ]:
#1 create a Python function to check if a given string is a palindrome
#2 calculate the compund interest for a given principal amount , interest rate, and time period
#3 write a program that converts a given number of days into years , weeks , and days
#4 create a program that takes a sentence as input and counts the number of words in it
#5 create a function to reverse a given string
#6 implement a program that converts a given number of minutes into hours and minutes
#7 create a python function to find the sum of all even numbers in the list
#8 create a python function to find the sum of all odd numbers in the list
#9 given a list of numbers, create a function to find the sum of all postitive numbers

In [2]:
#1
def is_palindrome(s):
    
    s = s.lower().replace(" ", "")
    
    
    return s == s[::-1]


test_string = "An Apple a day keeps a docter away"
if is_palindrome(test_string):
    print(f"'{test_string}' is a palindrome.")
else:
    print(f"'{test_string}' is not a palindrome.")

'An Apple a day keeps a docter away' is not a palindrome.

In [ ]:
#2

In [8]:
#3

def convert_days(days):
    
    years = days // 365
    remaining_days = days % 365
    
    
    weeks = remaining_days // 7
    days_left = remaining_days % 7
    
    return years, weeks, days_left


days = int(input("Enter the number of days: "))


years, weeks, days_left = convert_days(days)


print(f"{days} days is approximately {years} year(s), {weeks} week(s), and {days_left} day(s).")

Enter the number of days:  1000

1000 days is approximately 2 year(s), 38 week(s), and 4 day(s).

In [9]:
#4

def count_words(sentence):
   
    words = sentence.split()
    
    word_count = len(words)
    return word_count


sentence = input("Enter a sentence: ")


print("Number of words:", count_words(sentence))

Enter a sentence:  hello, how's your day

Number of words: 4

In [10]:
#5
def reverse_string(input_string):
    
    reversed_string = input_string[::-1]
    return reversed_string


test_string = "Hello World"
print("Original String:", test_string)
print("Reversed String:", reverse_string(test_string))

Original String: Hello World
Reversed String: dlroW olleH

In [11]:
#6

def convert_minutes(total_minutes):
    
    hours = total_minutes // 60
   
    minutes = total_minutes % 60
    return hours, minutes


total_minutes = int(input("Enter the number of minutes: "))


hours, minutes = convert_minutes(total_minutes)


print(f"{total_minutes} minutes is equal to {hours} hours and {minutes} minutes.")

Enter the number of minutes:  789

789 minutes is equal to 13 hours and 9 minutes.

In [5]:
#7
def sum_of_even_numbers(numbers):
   
    even_sum = 0
    
  
    for num in numbers:
        
        if num % 2 == 0:
           
            even_sum += num
    
    return even_sum


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Sum of even numbers:", sum_of_even_numbers(numbers))

Sum of even numbers: 30

In [6]:
#8

def sum_of_odds(numbers):
    
    odd_sum = sum([num for num in numbers if num % 2 != 0])
    return odd_sum


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = sum_of_odds(numbers)
print("Sum of odd numbers:", result)

Sum of odd numbers: 25

In [12]:
#9

def sum_positive_numbers(numbers):
  
    positive_sum = sum(num for num in numbers if num > 0)
    return positive_sum


numbers = [3, -1, 7, 0, -5, 9, -2]


result = sum_positive_numbers(numbers)
print("Sum of positive numbers:", result)

Sum of positive numbers: 19

# lambda

In [ ]:
lmbda agr1,agr2......:calculation

In [15]:
# add function
f=lambda x,y:x+y

In [16]:
f(8,9)

17

In [20]:
# squa
sq = lambda x:x**2

In [21]:
sq(8)

64

In [22]:
# areaof circle 
area = lambda r,pie:pie*r*r

In [23]:
area(4,3.14)

50.24

In [24]:
# find the leap year
leap = lambda x: x%400==0 and x%100!=0 or x%4==0

In [25]:
leap(2001)

False

In [26]:
# even and odd
even = lambda x: x%2==0 and x%2!=0

In [28]:
even(5)

False

In [29]:
sql = lambda x : [i**2 for i in x]

In [30]:
sql([1,2,3,4,5])

[1, 4, 9, 16, 25]

# fuctional documentataion

In [31]:
def add(x,y):
    "this function is used to ad two variable"
    return x+y

In [32]:
?add

Signature: add(x, y)
Docstring: <no docstring>
File:      c:\users\adity\appdata\local\temp\ipykernel_7132\263730053.py
Type:      function

In [33]:
def total(*a):
    return a

In [34]:
total(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [39]:
def total(*a):
    t = 0
    for i in a:
        t+=i
    return t

In [40]:
total(1,2,3,4,5)

15

In [42]:
def kk(*k):
    return k

In [43]:
kk([1,2,3,4],[7,8,9],[10])

([1, 2, 3, 4], [7, 8, 9], [10])

In [44]:
f = ([1,2,3,4],[7,8,9],[10])

In [46]:
g = 0
for i in f:
    for j in i:
        g=g+j
print(g)

44