In [1]:
k=[1,2,3,4,5,6,7,8,9,10]

In [2]:
for i in k:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
f=(1,4,5,6)
for i in f:
    print(i)

1
4
5
6

In [4]:
k=[1,2,3,4,5,6,7,8,9,10]
for i in k:
    if i>3:
        print(i)

4
5
6
7
8
9
10

In [5]:
k=[1,2,3,4,5,6,7,8,9,10]
for i in k:
    if i%2==0:
        print(i)

2
4
6
8
10

In [8]:
k=[1,2,3,4,5,6,7,8,9,10]
for i in k:
    if i%2==0:
        print(i**2,'is the square of',i)

4 is the square of 2
16 is the square of 4
36 is the square of 6
64 is the square of 8
100 is the square of 10

In [12]:
k=[1,10,11,12,15,14,13,10,12,12,20,21]
for i in k:
    if i>10:
        print(i)

11
12
15
14
13
12
12
20
21

In [14]:
k=[1,10,11,12,15,14,13,10,12,12,20,21]
avg=sum(k)/len(k)
print("average is:",avg)
for i in k:
    if i>avg:
        print(i)

average is: 12.583333333333334
15
14
13
20
21

In [3]:
g=['a','b','c','d','e',True]
for i in g:
    print(i)

a
b
c
d
e
True

In [6]:
# extracting value greater than 5
w=[1,4,7,8,9,3,2,5,4,6,3,2,5]
for i in w:
    if i>5:
        print(i)

7
8
9
6

In [8]:
# extract even elements from the list
w=[1,4,7,8,9,3,2,5,4,6,3,2,5]
for i in w:
    if i%2==0:
        print(i)

4
8
2
4
6
2

In [9]:
w=[1,4,7,8,9,3,2,5,4,6,3,2,5]
for i in w:
    if i>3 and i<7:
        print (i)

4
5
4
6
5

In [12]:
w=[1,4,7,8,9,3,2,5,4,6,3,2,5]
for i in w:
    if i %2==0:
        print(i**2)

16
64
4
16
36
4

In [14]:
# Print name which starts with "a"
name=['rohan','abhiniza','robin','karan','aman','pankaj','aastha']
for i in name:
    if i[0]=='a':
        print (i)

abhiniza
aman
aastha

In [22]:
# Print name which starts with "a" and end with "a"
name=['rohan','abhiniza','robin','karan','aman','pankaj','aastha']
for i in name:
    if i.startswith('a') and i.endswith('a'):
        print (i)

abhiniza
aastha

In [23]:
# Print first four letters of all names
name=['rohan','abhiniza','robin','karan','aman','pankaj','asstha']
for i in name:
    print(i[0:3])

roh
abh
rob
kar
ama
pan
ass

In [28]:
# Print all leap years
year=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for i in year:
    if i%4==0 and i%100!=0 or i%400==0:
        print(i)

2000
2004
2008

In [48]:
# Print the 2nd highest element
s=[4,7,8,5,2,3,6,9,6,5,6,3,2]
a=0
for i in s:
   if a<i:
       a=i
s.remove(a)
a=0
for i in s:
   if a<i:
       a=i
print(a)

8

In [58]:
s=[4,7,8,5,2,3,6,9,6,5,9,6,3,2]
s.sort(reverse=True)
a=s[0]
for i in s:
    if i==a:
        continue
    else:
        print(i)
        break

8

In [1]:
s=[4,7,8,5,2,3,6,9,6,5,6,3,2,9,9,9,9,9]
s.sort()
second_element=0
for i in s:
    if i>min(s) and i<max(s):
        second_element=i
print(second_element)

8

In [2]:
s="hello how are you i am fine what about you"
for i in s.split():
    print(i)

hello
how
are
you
i
am
fine
what
about
you

In [14]:
# count those words that starts with h
s="hello how are you i am fine what about you"
ls=[]
for i in s.split():
    if i[0]=='h':
        ls.append(i)
print(len(ls))

2

# Range

In [18]:
# range(start,stop,step)

In [17]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print all even values between 10 and 50
for i in range(10,50,2):
    print(i)

In [21]:
# print those values where 1st one is 5 between 10 to 100
for i in range(10,100):
    if(i%10==5):
        print(i)

15
25
35
45
55
65
75
85
95

In [26]:
# print the table of 2
for i in range(1,11):
    print('2 x',i,'= ',2*i)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
2 x 10 =  20

In [28]:
# interview question
# create 2 list and add even and odd digit in both list between 10 and 50
even=[]
odd=[]
for i in range(10,50):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [33]:
for i in range(5):
    print('* '*i)

*
* *
* * *
* * * *

In [35]:
for i in range(4):
    print('*'*4)

****
****
****
****

In [3]:
for i in range(6,0,-1):
    print('* '*i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [5]:
f=[1,2]
h=[9,10,11,12,13]
for i in f:
    for j in h:
        print(i*j)

9
10
11
12
13
18
20
22
24
26

In [10]:
g=[1,2,3,4,5,6]
for i in g:
    for j in g:
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [13]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print('*',end=" ")
        else:
            print(' ',end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [23]:
for i in range(1,6):
    for j in range(1,6):
        if j>=i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [34]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [42]:
for i in range(1,5):
    a=1
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print(a,end=' ')
            a=a+1
        else:
            print(' ',end=' ')
    print()

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7